# The University Of Mirpurkhas

PITP Class Work (06-10-2025)

# 1. List Operations

Q 1: Create and print a list

In [1]:
# Program to create and display a list 
fruits = ["apple", "banana", "cherry"] 
print("List of fruits:", fruits)

List of fruits: ['apple', 'banana', 'cherry']

Q 2: Add and remove elements from a list

In [2]:
# Program to demonstrate list operations 
fruits = ["apple", "banana", "cherry"] 
fruits.append("orange")        
fruits.remove("banana")        
print("Updated list:", fruits)

Updated list: ['apple', 'cherry', 'orange']

Q 3: Sort and reverse a list

In [3]:
# Program to sort and reverse list 
numbers = [5, 2, 8, 1, 9] 
numbers.sort()   # ascending order 
print("Sorted list:", numbers) 
numbers.reverse() 
print("Reversed list:", numbers)

Sorted list: [1, 2, 5, 8, 9]
Reversed list: [9, 8, 5, 2, 1]

# 2. Slicing

Q 1: Print part of a list using slicing

In [4]:
# Program to demonstrate list slicing 
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon"] 
print("First three fruits:", fruits[:3]) 
print("Last two fruits:", fruits[-2:])

First three fruits: ['apple', 'banana', 'cherry']
Last two fruits: ['kiwi', 'melon']

Q 2: Slice list with step value

In [5]:
# Program to slice with step 
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
print("Every second number:", numbers[::2])

Every second number: [1, 3, 5, 7, 9]

Q 3: Modify part of a list using slicing

In [6]:
# Program to modify list using slicing 
colors = ["red", "blue", "green", "yellow"] 
colors[1:3] = ["black", "white"] 
print("Updated colors list:", colors)

Updated colors list: ['red', 'black', 'white', 'yellow']

# 3. List Comprehensions

Q 1: Create a list of squares

In [7]:
# Program to create list of squares using list comprehension 
squares = [x**2 for x in range(1, 6)] 
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25]

Q 2: Filter even numbers from a list

In [8]:
# Program to get even numbers using list comprehension 
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
even = [x for x in numbers if x % 2 == 0] 
print("Even numbers:", even)

Even numbers: [2, 4, 6, 8]

Q 3: Convert all strings to uppercase

In [9]:
# Program to convert list of strings to uppercase 
fruits = ["apple", "banana", "cherry"] 
upper_fruits = [fruit.upper() for fruit in fruits] 
print("Uppercase fruits:", upper_fruits)

Uppercase fruits: ['APPLE', 'BANANA', 'CHERRY']

# 4. Tuple Packing & Unpacking

Q 1: Create and unpack a tuple

In [10]:
# Program to demonstrate tuple packing and unpacking 
person = ("Ali", 25, "Karachi")   # packing 
name, age, city = person          
print("Name:", name) 
print("Age:", age) 
print("City:", city)

Name: Ali
Age: 25
City: Karachi

Q 2: Unpack partial values using * operator

In [11]:
# Program to unpack tuple with * 
numbers = (10, 20, 30, 40, 50) 
first, *middle, last = numbers 
print("First:", first) 
print("Middle:", middle) 
print("Last:", last)

First: 10
Middle: [20, 30, 40]
Last: 50

Q 3: Swap two variables using tuple unpacking

In [12]:
# Program to swap values using tuple unpacking 
a = 5 
b = 10 
a, b = b, a 
print("After swapping: a =", a, ", b =", b)

After swapping: a = 10 , b = 5

# 5. Immutable vs Mutable

Q 1: Show list mutability

In [13]:
# Program to show list is mutable 
numbers = [1, 2, 3] 
numbers[1] = 100 
print("Modified list:", numbers)

Modified list: [1, 100, 3]

Q 2: Show tuple immutability

In [14]:
# Program to show tuple is immutable 
fruits = ("apple", "banana", "cherry") 
# fruits[0] = "mango"  # This will cause an error 
print("Tuples cannot be changed once created!")

Tuples cannot be changed once created!

Q 3: Compare list and tuple behavior

In [15]:
# Program comparing list (mutable) and tuple (immutable) 
list_data = [10, 20, 30] 
tuple_data = (10, 20, 30) 
list_data[1] = 200 
print("Modified list:", list_data) 
# tuple_data[1] = 200  #Uncommenting this will raise an error 
print("Tuple remains unchanged:", tuple_data)

Modified list: [10, 200, 30]
Tuple remains unchanged: (10, 20, 30)