In [ ]:
for i in range(1, 4):       # Table number
    for j in range(1, 6):   # Multiply by 1 to 5
        print(f"{i} x {j} = {i*j}")
    print("---")  # Separate each table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
---

In [ ]:
# Outer loop → Classes
for class_num in range(1, 3):  # 1 to 2
    print("Class", class_num)

    # Inner loop → Students
    for student_num in range(1, 3):  # 1 to 2
        print("  Student", student_num)

Class 1
  Student 1
  Student 2
Class 2
  Student 1
  Student 2

In [ ]:

# Outer loop → Classes
for class_num in range(1, 3):  # 1 to 2
    print("Class", class_num)
    # Inner loop → Students
    for student_num in range(1, 3):  # 1 to 2
     print("  Student", student_num)

Class 1
  Student 1
  Student 2
Class 2
  Student 1
  Student 2

In [ ]:
def myname(myname):
    myname = myname

myname("Saeed")