# The University Of Mirpurkhas

PITP Class Work (08-10-2025)

# 1. Key-Value Pairs (Dictionaries Basics)

Q 1: Create and print a dictionary

In [1]:
# Program to create and display a dictionary 
# A dictionary stores data in key-value pairs 
# Example: {"key": "value"} 
student = {"name": "Ali", "age": 20, "grade": "A"} 
print("Student information:", student)

Student information: {'name': 'Ali', 'age': 20, 'grade': 'A'}

Q 2: Access values using keys

In [2]:
# Program to access dictionary values 
student = {"name": "Ali", "age": 20, "grade": "A"} 
print("Name:", student["name"]) 
print("Age:", student["age"]) 
print("Grade:", student["grade"])

Name: Ali
Age: 20
Grade: A

Q 3: Add, update, and delete keys

In [3]:
# Program to add, update, and delete dictionary items 
student = {"name": "Ali", "age": 20} 
student["grade"] = "A"        
student["age"] = 21           
del student["name"]           
# add key 
# update value 
# delete key 
print("Updated student record:", student)

Updated student record: {'age': 21, 'grade': 'A'}

# 2. Dictionary Methods

Q 1: Use keys(), values(), and items()

In [4]:
# Program to use dictionary methods 
person = {"name": "Sara", "city": "Lahore", "age": 25} 
print("Keys:", person.keys()) 
print("Values:", person.values()) 
print("Items:", person.items())

Keys: dict_keys(['name', 'city', 'age'])
Values: dict_values(['Sara', 'Lahore', 25])
Items: dict_items([('name', 'Sara'), ('city', 'Lahore'), ('age', 25)])

Q 2: Use get() and pop()

In [5]:
# Program using get() and pop() methods 
student = {"name": "Ali", "age": 20, "grade": "B"} 
print("Grade:", student.get("grade")) 
student.pop("age") 
print("After removing 'age':", student)

Grade: B
After removing 'age': {'name': 'Ali', 'grade': 'B'}

Q 3: Copy and clear a dictionary

In [6]:
# Program to copy and clear dictionary 
car = {"brand": "Toyota", "model": "Corolla"} 
new_car = car.copy()     
# duplicate 
print("Copied dictionary:", new_car) 
car.clear()              
# remove all items 
print("Original dictionary after clear:", car)

Copied dictionary: {'brand': 'Toyota', 'model': 'Corolla'}
Original dictionary after clear: {}

# 3. Set Operations

Q 1: Create a set and remove duplicates

In [7]:
# Program to show that sets remove duplicates automatically 
numbers = {1, 2, 3, 3, 4, 5, 5} 
print("Unique numbers in set:", numbers)

Unique numbers in set: {1, 2, 3, 4, 5}

Q 2: Perform union and intersection

In [8]:
# Program for union and intersection of sets 
A = {1, 2, 3, 4} 
B = {3, 4, 5, 6} 
print("Union:", A.union(B)) 
print("Intersection:", A.intersection(B))

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}

Q 3: Difference and symmetric difference

In [9]:
# Program to demonstrate difference and symmetric difference 
A = {1, 2, 3, 4} 
B = {3, 4, 5, 6} 
print("Difference (A - B):", A - B) 
print("Symmetric Difference:", A.symmetric_difference(B))

Difference (A - B): {1, 2}
Symmetric Difference: {1, 2, 5, 6}

# 4. Use Cases for Each Data Structure

Q 1: Using list for storing student marks

In [10]:
# Program using list 
marks = [85, 90, 78, 92] 
average = sum(marks) / len(marks) 
print("Average marks:", average)

Average marks: 86.25

Q 2: Using dictionary for storing student data

In [11]:
# Program using dictionary 
student = {"name": "Ali", "age": 20, "marks": 88} 
print("Student info:", student) 
print("Student name:", student["name"])

Student info: {'name': 'Ali', 'age': 20, 'marks': 88}
Student name: Ali

Q 3: Using set to store unique subjects

In [12]:
# Program using set to remove duplicate values 
subjects = {"Math", "English", "Science", "Math", "Science"} 
print("Unique subjects:", subjects)

Unique subjects: {'Science', 'Math', 'English'}